<a href="https://colab.research.google.com/github/michael8607/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.utils import to_categorical

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
appli_counts = application_df['APPLICATION_TYPE'].value_counts()
appli_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appli_counts[appli_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_abv1 = class_counts.loc[class_counts > 1]
class_counts_abv1.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn_2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_2.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 8)                 88

 dense_2 (Dense)             (None, 6)                 54

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 589 (2.30 KB)
Trainable params: 589 (2.30 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn_2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model2 = nn_2.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 7s 5ms/step - loss: 0.6222 - accuracy: 0.6833
Epoch 2/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5745 - accuracy: 0.7298
Epoch 3/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5710 - accuracy: 0.7316
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5681 - accuracy: 0.7319
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7319
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7324
Epoch 7/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7325
Epoch 8/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7327
Epoch 9/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5537 - accuracy: 0.7327
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7329
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7336
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7334
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7336
Epoch 14/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7339
Epoch 15/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7341
Epoch 16/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5499 - accuracy: 0.7329
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7341
Epoch 18/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7335
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7341
Epoch 20/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7329
Epoch 21/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7339
Epoch 22/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5490 - accuracy: 0.7339
Epoch 23/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7339
Epoch 24/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7338
Epoch 25/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7338
Epoch 26/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7335
Epoch 27/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7347
Epoch 28/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7337
Epoch 29/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5479 - accuracy: 0.7341
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7343

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5535 - accuracy: 0.7286 - 591ms/epoch - 2ms/step
Loss: 0.5534742474555969, Accuracy: 0.7286297082901001

In [18]:
# Export our model to HDF5 file
model_export = 'C:/Users/mjndo/MIA_DATA_VIZ/deep-learning-challenge/AlphabetSoupCharity_Optimization2.h5'

# Save the model to a HDF5 file
nn_2.save(model_export)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(